*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #000;
    min-height: 125vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    padding: 40px 100px;
    z-index: 20000;
}
header.sticky{
    padding: 5px 100px;
    background: #000;

}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(src/bg.jpg);
    background-size: cover;
}

.custom-shape-divider-bottom-1611456303 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1611456303 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 194px;
}

.custom-shape-divider-bottom-1611456303 .shape-fill {
    fill: #000000;
}
#parent {
    height: 40px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: 'Source Code Pro', monospace;  
    position: relative;
}
#parent a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}
  
#border {
    border-bottom: solid 3px rgba(0,255,0,.75);
    position: absolute;
    right: -7px;
    width: 20px;
}
  
#parent {
    animation: animated-text 2s steps(30,end) 1s 1 normal both
}
  
#border {
     animation: animated-cursor 600ms steps(30,end) infinite;
}
  
  
@keyframes animated-text{
    from{width: 0;}
    to{width: 480px;}
}
  
  
@keyframes animated-cursor{
    from{border-bottom-color: rgba(0,255,0,.75);}
    to{border-bottom-color: transparent;}
}
